
.Navbar{
  padding: 10px;
  background-color: rgb(250, 246, 240);
}
ul {
  list-style: none;
  
  display: inline;
  padding: 10px 10px;
  font-size: larger;
}

ul li {
  display: inline-block;
  padding: 0px 10px;
}

ul li a {
  text-decoration: none;
 
}

ul li a:hover {
  border: solid black 1px;
  border-radius: 3px;
  padding: 5px;
 
}

div.Home {
  color: blue;
  background-color: rgb(255, 255, 251);
  
  font-size: large;
}

div.Main {
  border: solid 1px grey;
  border-radius: 5px;
  width: fit-content;
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 3px 4px rgba(128, 128, 128, 0.767);
}